html{font-size: 62.5%;
@include breakpoint(max, 1700px) {font-size: 55%;}
@include breakpoint(max, 1500px) {font-size: 45%;}
@include breakpoint(max, 1300px) {font-size: 41.50%;}
@include breakpoint(max, 1279px) {font-size: 36%;}
}
body{color:#545252;font-family: "FuturaMediumBT";}

.s-container{max-width: 1160px;width: 90%;margin: 0 auto;}
.container{max-width: 1539px;width: 90%;margin: 0 auto;}
.section{padding-top: 6.5rem;}

.text-center{text-align: center;}
.heading02{font-size: 4.8rem;line-height: 4.7rem;margin-bottom: 1.6rem;}
.heading05{font-size: 2.5rem;line-height: 2.9rem;margin-top: 3.8rem;}
p{font-family: 'futurabookbt';font-size: 2rem;line-height: 2.7rem;}


// banner-section
.banner-section{position: relative;
    .banner-box{position: absolute;left: 21%;top:50%;transform: translateY( -50%);
        .heading01{font-size: 8.1rem;line-height: 8.9rem;color: #FFFFFF;}
    }
   
}

.gallery-section{
    .gallery-row{display: grid;grid-template-columns: 1fr 1fr 1fr;grid-column-gap: 3.4rem;
        .gallery-box{
        }
    }
}


.owl-item.active.center{
    transform: scale(1.6);
    z-index: 99999;
    position: relative;
    // opacity: 1;
}
// .owl-item.active{transform: scale(1);}
.owl-item.active{transform: scale(1);}


// chetan css
.left-contain{display: inline-block;width: 62.76%;
    @media screen and (max-width: 1023px) {width: 100%;display: block;
    }
}
    .right-contain{display: inline-block;width: 37%;vertical-align: top;padding-left: 4.6rem;
        @media screen and (max-width: 1023px) {width: 100%;display: block;padding-left: 0rem;margin-top: 10rem;
        }}
.blog-section{margin-top: 10.5rem;
    .contain{
       
        .left-contain{
       
            
           .contain{display: grid;grid-template-columns: 1fr 1fr 1fr;row-gap: 2.2rem;column-gap: 1.3rem;
            @media screen and (max-width: 700px) {grid-template-columns: 1fr;            }
               .box{border:1px solid #707070;
                   .image{
                    img{width: 100%;}
                   }
                   .content{padding-top: 3.2rem;padding-bottom: 3.49rem;padding-left:2rem;padding-right:2rem;
                       p{line-height: 2.1rem;padding-bottom: 3.4rem;
                           @media screen and (max-width: 700px) {font-size: 4.3rem;line-height: 3.5rem;
                          }
                       }
                       .heading04{font-family: 'FuturaMediumBT';font-size: 2.5rem;line-height: 2.7rem;padding-bottom: 1rem;
                           
                           @media screen and (max-width: 700px) {font-size: 4rem;line-height: 4.5rem;
                          }
                       }
                       .author{
                           .image{display: inline-block;
                           }
                           .text{font-size: 1.5rem;color: #AA7B32;margin-left: .6rem;
                               @media screen and (max-width: 700px) {font-size: 3rem;
                              }
                           }
                       }
                       
                   }
               }
           }
           .prev-next-btn{margin-top: 3.1rem;margin-left: 63.3rem;
            p{
                font-family: 'futurabookbt';color: #AA7B32;font-size: 3rem;display: inline-block;
            }
            .prev{position: relative;margin-right: 5.3rem;
            }
            .next{position: relative;
            }
            .prev::before{content: url('../img/Blog/prev-next-arrow.png');position: absolute;left: -20%;top: -20%;
                @media screen and (max-width: 1700px) {top: -35%;                  }
                  @media screen and (max-width: 1400px) {top: -53%;left: -30%;                  }
                  @media screen and (max-width: 1300px) {top: -65%;left: -30%;                  }
            }
            .next::after{content: url('../img/Blog/prev-next-arrow.png');position: absolute;transform: rotate(180deg);right: -40%;top: -5%;
                @media screen and (max-width: 1700px) {
                    top: -16%;
                  }
                  @media screen and (max-width: 1400px) {
                    top: -35%;
                    right: -53%;
                  }
                  @media screen and (max-width: 1300px) {
                    top: -50%;
                    left: -53%;
                  }
            }
           }
           .bottom-contain{margin-top: 7.25rem;
            .p1{line-height: 3rem;
            }
            .heading02{margin-bottom: 1.25rem;
            }
            .contain{margin-top: 4.6rem;             
            }
           }
         }
       
    }
}
.blog-detail{
    margin-top: 4.2rem;
    h1{font-family: 'FuturaMediumBT';font-size: 4.8rem;}
    h2{font-size: 4rem;}
    h3{font-size: 2.5rem;}
    h4{font-size: 2rem;}
    h5{font-size: 1.5rem;}
    h6{font-size: 1rem;}
    .bread-crumbs{margin-bottom: 3.02rem;
        .image{display: inline-block;vertical-align:middle;margin-right: 0.9rem;
        }
        p{display: inline-block;vertical-align: -webkit-baseline-middle;margin-right: 0.9rem;font-family: 'FuturaMediumBT';font-size: 3.5rem;
        }
    }
    .left-contain{
        h1{margin-bottom: 1.18rem;
        }
        .image{margin-bottom: 1.9rem;
        }
        p{line-height: 3rem;
            @media screen and (max-width: 1023px) {line-height: 4.3rem;font-size: 3.5rem;}
        }
        p:first-child{margin-bottom: 4.3rem;
        }
        .box{margin-top: 4.2rem;
        }
        h3{margin-bottom: 1.9rem;
            @media screen and (max-width: 1023px) {font-size: 4rem;}
        }
        
    }
}   
.right-contain{
          
    .heading04{font-family: 'FuturaMediumBT';font-size: 2.5rem;padding-bottom: 3.4rem;
        @media screen and (max-width: 1023px) {font-size: 4rem;
}
        
    }
    .box{margin-bottom: 1.3rem;
        .image{display: inline-block;vertical-align: middle;
        }
        .content{display: inline-block;vertical-align: middle;width: calc(100% - 15rem - 60px);padding-left: 2.5rem;
            p{line-height: 2.4rem;text-transform: uppercase;
                @media screen and (max-width: 1279px) {line-height: 2.8rem;                  }
                  @media screen and (max-width: 1023px) {line-height: 4.3rem;font-size: 3rem;                  }
            }
        }
    }
    .bottom-contain{margin-top: 3.6rem; 
    }
}
