html{font-size: 62.5%;
@include breakpoint(max, 1700px) {font-size: 55%;}
@include breakpoint(max, 1500px) {font-size: 45%;}
@include breakpoint(max, 1300px) {font-size: 41.50%;}
@include breakpoint(max, 1279px) {font-size: 36%;}
}
body{color:#545252;font-family: "FuturaMediumBT";}

.s-container{max-width: 1160px;width: 90%;margin: 0 auto;}
.container{max-width: 1539px;width: 90%;margin: 0 auto;}
.container-odd{max-width: 1270px;width: 90%;margin: 0 auto;}
.section{padding-top: 6.5rem;}

.text-center{text-align: center;}
.heading02{font-size: 4.8rem;line-height: 4.7rem;margin-bottom: 1.6rem;}
.heading05{font-size: 2.5rem;line-height: 2.9rem;margin-top: 3.8rem;}
p{font-family: 'futurabookbt';font-size: 2rem;line-height: 2.7rem;}

// banner-section
.banner-section{position: relative;
    .banner-box{position: absolute;left: 21%;top:50%;transform: translateY( -50%);
        @include breakpoint (max,768px){top: 57%;}
        .heading01{font-size: 8.1rem;line-height: 8.9rem;color: #FFFFFF;
            @include breakpoint (max,970px){font-size: 6.1rem;line-height: 6.9rem;}
            @include breakpoint (max,678px){    font-size: 5.1rem;line-height: 5.9rem;}
            @include breakpoint (max,500px){font-size: 3.1rem;line-height: 3.9rem;}
        }
    }
}
// gallery-section
.gallery-section{
    .gallery-row{display: grid;grid-template-columns: 1fr 1fr 1fr;grid-column-gap: 3.4rem;
        @include breakpoint (max,768px){display: block;}
        .gallery-box{
            img{width: 100%;}
        }
    }
}

// owl crowsel css
.gallery-center-slider .owl-item.active.center{transform: scale(1.6);z-index: 99999;position: relative;}
.gallery-center-slider .owl-item.active{transform: scale(1);}
.gallery-center-slider .owl-stage-outer{padding-top: 100px !important;padding-bottom: 100px !important;}

// chetan css
.left-contain{display: inline-block;width: 62.76%;
    @include breakpoint (max,1023px) {width: 100%;display: block;
    }
}
    .right-contain{display: inline-block;width: 37%;vertical-align: top;padding-left: 4.6rem;
        @include breakpoint (max,1023px) {width: 100%;display: block;padding-left: 0rem;margin-top: 10rem;
        }}

//blog page section
.blog-section{
    .contain{ 
        .left-contain{
           .contain{display: grid;grid-template-columns: 1fr 1fr 1fr;row-gap: 2.2rem;column-gap: 1.3rem;
            @include breakpoint (max,700px) {grid-template-columns: 1fr;            }
               .box{border:1px solid #707070;
                   .image{
                    img{width: 100%;}
                   }
                   .content{padding-top: 3.2rem;padding-bottom: 3.49rem;padding-left:2rem;padding-right:2rem;
                       p{line-height: 2.9rem;padding-bottom: 3.4rem;
                        @include breakpoint (max,1279px) {font-size: 2.5rem;line-height: 3rem;}
                        //    @include breakpoint (max,700px) {font-size: 4.3rem;line-height: 3.5rem;
                        //   }
                       }
                       .heading04{font-size: 2.5rem;line-height: 3.5rem;padding-bottom: 1rem;
                        @include breakpoint (max,1279px) {font-size: 3rem;}
                        //    @include breakpoint (max,700px) {font-size: 4rem;line-height: 4.5rem;
                        //   }
                       }
                       .author{display: flex;
                           .image{display: inline-block;
                           }
                           .text{font-size: 1.5rem;color: #AA7B32;margin-left: .6rem;
                            @include breakpoint (max,1279px) {font-size: 2rem;}
                            //    @include breakpoint (max,700px) {font-size: 3rem;
                            //   }
                           }
                       }
                       
                   }
               }
           }
           .prev-next-btn{margin-top: 3.1rem;text-align:right;margin-right: 5rem;
            p{color: #AA7B32;font-size: 3rem;display: inline-block;}
            .prev{position: relative;margin-right: 5.3rem;}
            .next{position: relative;
            }
            .prev::before{content: url('../img/Blog/prev-next-arrow.png');position: absolute;left: -20%;top: -25%;
                @include breakpoint (max,1700px) {top: -40%;}
                  @include breakpoint (max,1400px) {top: -65%;left: -25%;}
                  @include breakpoint (max,1300px) {top: -65%;left: -30%;                  }
            }
            .next::after{content: url('../img/Blog/prev-next-arrow.png');position: absolute;transform: rotate(180deg);right: -40%;top: -5%;
                @include breakpoint (max,1700px) {top: -16%;}
                  @include breakpoint (max,1400px) {top: -35%;right: -49%;}
                  @include breakpoint (max,1300px) {top: -50%;left: -53%;}
            }
           }
           .bottom-contain{margin-top: 7.25rem;
            .p1{line-height: 3rem;
                font-size: 2.5rem;
            }
            .contain{display: block;
                .box{margin-left: 1.3rem;}
            }
            .heading02{margin-bottom: 1.25rem;
            }
            .contain{margin-top: 4.6rem;             
            }
           }
         }
       
    }
}
//blog-detail-section
.blog-detail{
    margin-top: 4.2rem;
    h1{font-size: 4.8rem;}
    h2{font-size: 4rem;}
    h3{font-size: 2.5rem;}
    h4{font-size: 2rem;}
    h5{font-size: 1.5rem;}
    h6{font-size: 1rem;}
    .bread-crumbs{margin-bottom: 3.02rem;
        .image{display: inline-block;vertical-align:middle;margin-right: 0.9rem;
        }
        p{display: inline-block;vertical-align: -webkit-baseline-middle;margin-right: 0.9rem;font-size: 3.5rem;
    }
    .left-contain{
        h1{margin-bottom: 1.18rem;
        }
        .image{margin-bottom: 1.9rem;
        }
        p{line-height: 3rem;
            @include breakpoint (max,1279px) {font-size: 2.5rem;}
        }
        p:first-child{margin-bottom: 4.3rem;
        }
        .box{margin-top: 4.2rem;
        }
        h3{margin-bottom: 1.9rem;
            @include breakpoint (max,1279px) {font-size: 3rem;}
        }
        
    }
}   
.right-contain{
          
    .heading04{font-size: 2.5rem;padding-bottom: 3.4rem;
        @include breakpoint (max,1279px) {font-size: 3rem;}
        @include breakpoint (max,1023px) {font-size: 4rem;}
        
    }
    .box{margin-bottom: 1.3rem;
        .image{display: inline-block;vertical-align: middle;
        }
        .content{display: inline-block;vertical-align: middle;width: calc(100% - 15rem - 60px);padding-left: 2.5rem;
            h4{line-height: 2.9rem;text-transform: uppercase;font-size: 2rem;
                @include breakpoint (max,1279px) {line-height: 2.8rem;}
                  @include breakpoint (max,1023px) {line-height: 4.3rem;font-size: 3rem; }
                  @include breakpoint (max,700px) {font-size: 2.5rem; }
            }
        }
    }
    .bottom-contain{margin-top: 3.6rem; 
    }
}
}

// Home page
.home-content-left .heading{font-size: 2rem ;}
.home-content-left .heading02{margin-bottom: 1.2rem;    margin-top: 1.6rem;}
.home-content-left p{line-height: 3rem;}


//.about-us section
.about-us {
    .s-container{display: grid;grid-template-columns: 45% 55%;justify-content: center;
        .discover-btn{background-color:$btn-bg-color;font-size: 2.1rem;color:#FFFFFF;padding-left: 4.2rem;padding-right: 2.4rem;padding-bottom: 1.5rem;padding-top: 1.5rem;position: relative;border: none;margin-top: 3.9rem;}
        .discover-btn::before{content: '';position: absolute;background-image: url('../img/home/discover-more.png');background-repeat: no-repeat;width: 20%;background-size: 69%;height: 100%;top: 0;left: 0;}
        .discover-btn::after{content: '';position: absolute;background-image: url('../img/home/plus-home.png');background-repeat: no-repeat;width: 10%;height: 42%;background-size: 83%;left: 2%;}
        .right{margin-left: 5.23rem;}
    }
}

//.Our-blog section
.Our-blog{margin-top: 3.9rem;
    .contain{display: grid;grid-template-columns: repeat(3,31%);column-gap: 4rem;margin-top: 4.6rem;
        .box{
            .image{
                img{width: 100%;}
            }
            .content{padding-top: 3.2rem;padding-bottom: 3.49rem;padding-left:3rem;padding-right: 2rem;background-color:$Blog-bg-color;
                .heading04{font-size: 2rem;line-height: 2.5rem;    margin-bottom: 1rem;}
                .author{
                    .image{display: inline-block;}
                    .text{ font-size: 1.5rem; }
                }
            }
        }
        
    }
}

//.Our-Works section
.Our-Works{margin-top: 3.9rem;background-image: url('../img/home/our-works/background-img.jpg');
    .s-container{padding-top: 6.6rem;padding-bottom: 6.3rem  ;
        .top{display: grid;grid-template-columns: 45% 55%;justify-content: center;align-items: center;}
        .bottom{display: grid;grid-template-columns: repeat(4,1fr);margin-top: 4.9rem;
            .box{ position: relative;padding-left: 3.58rem;
                h3{font-family: 'FuturaBoldBT';font-size: 2rem;margin-top: 2.22rem;    margin-bottom: 1rem;position: relative;}
                h3::before{content: '';position: absolute;width: 9%;height: 100%;background-color: #F8C54F;    border-radius: 100%;opacity: .8;    left: -3%;    top: -40%;}
            }
        }
        .box::before{content: '';position: absolute;background-image: url('../img/home/our-works/design-before-1.svg');width: 4%;height: 100%;background-repeat: no-repeat;left: 0%;
        }
        .maintenance::before{background-image: url('../img/home/our-works/low-maintenance-before-2.svg');}
    }
}

//laminate-section
.laminate-sec{
    .box{
        display: grid;    grid-template-columns: 1fr 1fr;align-items:center;
        .content{ grid-column: 2/3;    grid-row: 1;padding-left: 6.3rem;}
        .odd-content{grid-column: 1/2;text-align: end;padding-right: 4.4rem;}
    }
}
//discover-idea section
.discover-idea{
    .s-container{display: grid;grid-template-columns: 1fr 1fr;align-items: center;}
    .Items{margin-top: 3.85rem;}
    
}

//coll-detail-section
.coll-detail-section{
    .key-feat-row{    display: grid;grid-template-columns: 1fr 1fr 1fr;
        .Feature-box{padding: 8.6rem 8rem;text-align: center;border: 1px solid #707070;
            &:nth-child(even){background: #F3F3F3;}
            .key-img{padding-bottom: 6rem;
                img{margin: 0 auto;}
            }
        }
    }
}